.venv/*
Datasets/BDD/*
Datasets/Incidents/*
Datasets/RS10K/*
Datasets/VisualGenome/*
__pycache__
*.rar
*.zip
KerasBaseLine/SaveModel3/*
KerasBaseLine/SaveModel4/*
References/visualgenome.pdf
References/Object Detection with Transformers-A Review.pdf
